{extend name="index" /} {block name="body"}
<button class="layui-btn layui-btn-danger" onclick="clearwfk()">删除所有未付款订单</button><span style="color:#999"> 今日的未付款订单不会被清理</span>
<br /><br />
<hr />
<br /><br />
<div style="width: 500px;">
	<div style="width: 200px;float: left;"><input type="text" placeholder="开始时间" class="layui-input" id="date1"></div>
	<div style="width: 200px;float: left;"><input type="text" placeholder="结束时间" class="layui-input" id="date2"></div>
</div>
<button class="layui-btn layui-btn-danger" onclick="deleteOrder()">删除已卖出订单</button>
<br /><br />
<hr />
<br /><br />
<div style="width: 500px;">
	<div style="width: 200px;float: left;"><input type="text" placeholder="开始时间" class="layui-input" id="date3"></div>
	<div style="width: 200px;float: left;"><input type="text" placeholder="结束时间" class="layui-input" id="date4"></div>
</div>
<button class="layui-btn layui-btn-danger" onclick="deleteKami()">删除已卖出卡密</button>
<br /><br />
<hr />
<br /><br />

<form class="layui-form" action="/adminxyxyxxy/index/dckami" target="_blank"  method="post">
	<div class="layui-form-item">
		<label class="layui-form-label">商品名称</label>
		<div class="layui-input-block" >
			<select  name="goods" lay-filter="aihao">
			 {foreach $res as $vo}
				<option value="{$vo.id}">{$vo.name}</option>
			{/foreach}
			</select>
		</div>	
		
		<br />
		<label class="layui-form-label">导出数量</label>
		<div class="layui-input-block" style="width: 100px;">	
			<input  type="text" class="layui-input" value="1" name="num"/><br />
			<button class="layui-btn layui-btn-danger" >导出未售出卡密</button>
		</div>
		
	</div>
</form>
<script>
	layui.use('layer', function(){ //独立版的layer无需执行这一句
  		var layer = layui.layer; //独立版的layer无需执行这一句
		function clearwfk() {
			layer.confirm('确定清空所有未付款订单吗?', function(index) {
				$.ajax({
					type: "GET",
					url: "/adminxyxyxxy/index/cleardata.html",
					data: 'oper=wfk',
					success: function(data) {
						layer.alert(data);
					}
				});

				layer.close(index);
			});
		}
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//执行一个laydate实例
		laydate.render({
			elem: '#date1' //指定元素
		});
	});
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//执行一个laydate实例
		laydate.render({
			elem: '#date2' //指定元素
		});
	});	
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//执行一个laydate实例
		laydate.render({
			elem: '#date3' //指定元素
		});
	});
	layui.use('laydate', function() {
		var laydate = layui.laydate;
		//执行一个laydate实例
		laydate.render({
			elem: '#date4' //指定元素
		});
	});		
});
	function deleteOrder() {
		if($('#date1').val().length<10 ||  $('#date2').val().length<10){
			layer.alert('请先选择删除时间');
			return;
		}
		layer.confirm('你确定删除订单吗?', function(index) {
			$.ajax({
				type: "GET",
				url: "/adminxyxyxxy/index/deleteorder.html",
				data: "oper=wfk&date1="+$('#date1').val()+"&date2="+$('#date2').val(),
				success: function(data) {
					layer.alert(data);
				}
			});

			layer.close(index);
		});
	}	
	function deleteKami() {
		if($('#date3').val().length<10 ||  $('#date4').val().length<10){
			layer.alert('请先选择删除时间');
			return;
		}
		layer.confirm('你确定删除已卖出卡密吗?', function(index) {
			$.ajax({
				type: "GET",
				url: "/adminxyxyxxy/index/deleteKami.html",
				data: "oper=wfk&date1="+$('#date3').val()+"&date2="+$('#date4').val(),
				success: function(data) {
					layer.alert(data);
				}
			});

			layer.close(index);
		});
	}	
</script>
{/block}