{extend name="index" /}
{block name="title"}
常用设置
{/block}
{block name="body"}

            <form action="" method="post" onsubmit="return editgonggao()" class="layui-form">
              <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>基本配置</legend>
              </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label">网站名称</label>
                <div class="layui-input-inline">
                  <input type="text" name="sitename" value="{$res.sitename}" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">不要超过八个汉字</div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">网站域名</label>
                  <div class="layui-input-inline">
                    <input type="text" name="siteurl" value="{$res.siteurl}" class="layui-input">
                  </div>
                  <div class="layui-form-mid layui-word-aux">必须以斜杠"/"结尾</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系QQ</label>
                    <div class="layui-input-inline">
                      <input type="text" name="qq" value="{$res.qq}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">不能超过11位</div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">LOGO图片</label>
                    <div class="layui-input-inline">
                      <input type="text" name="logoimg" value="{$res.logoimg}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">带http或者https的图片链接</div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">首页模式</label>
                    <div class="layui-input-block">
                      <input type="radio" name="indexmode" value="0" title="分类模式" {if condition="($res.indexmode == 0)" }checked="" {/if}>
                      <input type="radio" name="indexmode" value="1" title="列表模式" {if condition="($res.indexmode == 1)" }checked="" {/if}>
                    </div>
                  </div>
                  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>代理设置</legend>
                  </fieldset>
                  <div class="layui-form-item">
                    <label class="layui-form-label">开通价格</label>
                    <div class="layui-input-inline">
                      <input type="text" name="opdl" value="{$res.opdl}" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">自助开通代理账户的价格</div>
                  </div>
                  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>支付方式</legend>
                  </fieldset>

                  <div class="layui-form-item">
                    <label class="layui-form-label">支付宝支付</label>
                    <div class="layui-input-block">
                      <input type="radio" name="alipay" value="1" title="开启" {if condition="($res.alipay == 1)" }checked="" {/if}>
                      <input type="radio" name="alipay" value="0" title="不开启" {if condition="($res.alipay == 0)" }checked="" {/if}>
                    </div>
                  </div>
                 
                  <div class="layui-form-item">
                    <label class="layui-form-label">微信支付</label>
                    <div class="layui-input-block">
                      <input type="radio" name="wxpay" value="1" title="开启" {if condition="($res.wxpay == 1)" }checked="" {/if}>
                      <input type="radio" name="wxpay" value="0" title="不开启" {if condition="($res.wxpay == 0)" }checked="" {/if}>
                    </div>
                  </div>

                  <div class="layui-form-item">
                    <label class="layui-form-label">QQ钱包支付</label>
                    <div class="layui-input-block">
                      <input type="radio" name="qqpay" value="1" title="开启" {if condition="($res.qqpay == 1)" }checked="" {/if}>
                      <input type="radio" name="qqpay" value="0" title="不开启" {if condition="($res.qqpay == 0)" }checked="" {/if}>
                    </div>
                  </div>
                  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>邮箱配置</legend>
                  </fieldset>
                
                    <div class="layui-form-item">
                      <label class="layui-form-label">邮箱发卡</label>
                      <div class="layui-input-block">
                        <input type="radio" name="mailon" value="1" title="开启" {if condition="($res.mailon == 1)" }checked="" {/if}>
                        <input type="radio" name="mailon" value="0" title="不开启" {if condition="($res.mailon == 0)" }checked="" {/if}>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">邮箱服务器</label>
                      <div class="layui-input-inline">
                        <input type="text" name="emailhost" value="{$res.emailhost}" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">如：smtp.exmail.qq.com</div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">邮箱端口</label>
                      <div class="layui-input-inline">
                        <input type="text" name="emailport" value="{$res.emailport}" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">如：25</div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">邮箱账号</label>
                      <div class="layui-input-inline">
                        <input type="text" name="emailuser" value="{$res.emailuser}" class="layui-input">
                      </div>
                
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">邮箱密码</label>
                      <div class="layui-input-inline">
                        <input type="password" name="emailpass" value="{$res.emailpass}" class="layui-input">
                      </div>
                    
                    </div>
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                      <legend>其他配置</legend>
                    </fieldset>
                      <div class="layui-form-item">
                          <label class="layui-form-label">统计代码</label>
                          <div class="layui-input-block">
                              <textarea name="tongji" placeholder="请输入" class="layui-textarea">{$res.tongji}</textarea>
                          </div>
                          
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">首页公告</label>
                          <div class="layui-input-block">
                            <textarea id="gonggao" name="gonggao"  class="layui-textarea">
                           {$res.gonggao}
                            </textarea>
                          </div>

                        </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">商品页公告</label>
                      <div class="layui-input-block">
                        <textarea id="goodgg" name="goodgg"   class="layui-textarea">
                           {$res.goodgg}
                            </textarea>
                      </div>

                    </div>           
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                      </div>
                    </div>
                  </form>

<script>
  
  layui.use('form', function () {
      var form = layui.form;
    form.render();
      //各种基于事件的操作，下面会有进一步介绍
    });
            
</script>
  
{/block}